language: go

addons:
  apt:
    packages:
      - rpm

go:
  - 1.x

env:
  global:
    - GO111MODULE=on
    - GORELEASER_ON=1

gobuild_args: -ldflags "-X main.version=${TRAVIS_TAG}"

script:
  - go test -race -coverprofile=coverage.txt -covermode=atomic -v ./...
  - GOOS=linux go build

after_success:
  - curl -sL https://codecov.io/bash | bash

deploy:
  - provider: script
    script: curl -sL https://git.io/goreleaser | bash
    skip_cleanup: true
    on:
      branch: master
      tags: true
      repo: aswinkarthik/csvdiff
      condition: $GORELEASER_ON = 1
